* {
    font-family: Lato, sans-serif;
}
.table {
    color: #333333;
    border-spacing: none;
    margin-left: auto;
    margin-right: auto;
}
.headings {
    color: #ffffff;
    background-color: #90b4d6;
    text-align: center;
    letter-spacing: 2px;
}
