@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic);
/*Styling the body of all pages*/
body {
	font-family: 'Roboto', sans-serif;
  color: #444;
  scroll-behavior: smooth;
  min-height: 100vh;
}
/*Style for all headings*/
h1,
h2,
h3,
h4,
h5,
h6 { font-weight: 300; font-family: 'Oswald', sans-serif; }
/*All focus*/
*,
*:focus { outline: none !important }
a { color: #2d2d2d }
/*Hovering and focusing on any a element*/
a:hover,
a:focus {
  text-decoration: none;
}
.hiding { opacity: 0 }
.showing { opacity: 1 }
.img-rounded {
  -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
          border-radius: 8px;
}
/**/
.btn {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: all .2s;
    -moz-transition: all .2s;
      -ms-transition: all .2s;
          transition: all .2s;
}

.loader {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  background-color: #e9ecf2;
}
.fading-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 -20px;
  background-image: url(../img/fading-line.gif);
  background-repeat: no-repeat;
  background-position: center center;
}
/*Nav bar height and styling*/
#navbar-top { 
	min-height: 70px
}
.navbar-brand .nav-external:hover {
  color: #cc2936;
}
.navbar {
	min-height: 70px;
}
.navbar-default {
  margin-bottom: 0;
  border: 0;
  -webkit-border-radius: 0;
    -moz-border-radius: 0;
          border-radius: 0;
}
.navbar-brand{
	padding:0px;
	font-size: 18px;
	line-height: 70px;
	height:70px;
	}
.navbar-default .navbar-brand{
	font-family: 'Lobster Two', cursive;
	color:#e9ecf2;
	font-size: 28px;
	}	
.navbar-nav>li>a {
line-height: 40px;
}
.navbar-nav>li.active>a{
color: #e9ecf2;
padding-bottom: 20px;
transition: all 0.3s ease-in-out;
font-size: 20px;
}
.navbar-nav>li.active a {
	color:#e9ecf2;
}
.navbar-nav>li.active:active {
  color: #cc2936;
}
.navbar-default{ 	
	background:#cc2936;
}

.navbar-default .navbar-brand {
  font-weight: 600;
  text-transform: uppercase; 
}
.navbar-default .navbar-nav > li > a {
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus {
  color: #e9ecf2;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a:hover{
  color: #cc2936;
}
.navbar-default .navbar-nav>li>a:focus{color: #cc2936;}
.navbar-default .navbar-toggle { border-color: transparent }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
.navbar-default .navbar-toggle:hover .icon-bar { background-color: #333 }
.navbar-default.affix {
  top: 0;
  z-index: 99;
  width: 100%;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
          box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.navbar>.container .navbar-brand{
  transition: all 0.5s ease-in-out;
}
.navbar>.container .navbar-brand:hover {
  transform: scale(1.05);
  color: #e9ecf2;
}
.banner-content{ 
position: absolute;
top: 0px;
bottom: 0px; 
text-align: center;
left: 0px;
right: 0px;
}
/*Styling for text in home page*/
.heroText {
margin-top: 19%;
    opacity: .7;
}
.heroText h2 {
border: none;
color: #e9ecf2;
text-transform: uppercase;
line-height: 80px;
padding-bottom: 0;
font-size: 65px;
margin-bottom: 35px;
    text-align: center;
font-weight: bold;
    text-shadow: 1px 0px 1px #000;
}
.heroText h2 strong{
    font-size: 50px;
}
/*Styling of the pages for each webpage*/
.page { overflow: hidden } 
.page .container {
padding: 60px 0;
}
.page .content.cover { padding: 240px 0 }
.page .heading h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.page .border {
  width: 80px;
  height: 2px;
  margin: 0 auto;
  background-color: #71be3c;
}
.page .heading {margin-bottom:60px}
.page .heading p{padding:15px 0;}
/*Styling of home page*/
#home {
  padding: 0;
  color: #e9ecf2;
  background-image: url(../img/cover/Hellcat.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#home h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
}
#home a { margin: 0 5px }
#home h3 {
  margin-top: 20px;
  margin-bottom: 0;
}
#services {
  background-color: #e9ecf2;
  border-bottom: solid 1px #e9ecf2;
  background-image: url(../img/hellcat-services.jpg);
  color: #cc2936;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
/*.button{
  position: absolute;
  top: 0%;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 20%);
}
.button{
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
  background-color: none;
  height: 50px;
  line-height: 0px;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  text-transform: capitalize;
}*/
/*Style for Services page*/
.service-icon{
border-radius: 129px; 
width: 180px;
height: 180px;
margin: 0px auto;
display: inline-block;
overflow: hidden;
}

.service-icon img{
  transition: 1s ease-in-out;
}
.service-icon img:hover {
  transform: scale(1.02);
}
/*Styling for Works Section*/
#work{background:	#141414; width:auto; color:#cc2936;} 
#portfolio { width: 100% }
#portfolio .filters { margin-bottom: 20px }
#portfolio .filters li a {
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
}
.fancybox img {
  width: 210px;
  height: 210px;
}
#portfolio .filters li a,
#portfolio .filters li a:hover,
#portfolio .filters li a:focus { color: #e9ecf2}
#portfolio .filters li a.active { color: #cc2936 }
#portfolio .items { margin-bottom: 0 }
#portfolio .items li {
  position: relative;
  float: left;
  width: 25%;
  overflow: hidden;
}
#portfolio .items li a img {
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
}
#portfolio .items li a .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-color: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
  opacity: 0;
}
#portfolio .items li a .overlay span {
color: #FFF;
position: absolute;
height: 50px;
top: 50%;
left: 0px;
right: 0px;
margin-top: -25px;
line-height: 50px;
}
#portfolio .items li a:hover .overlay { opacity: 1 }
#portfolio .items li a:hover img {
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
          transform: scale(1.1);
}
/*Styling for About page*/
#about {
  background-image: url(../img/cover/about.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.bio-descrip {
  position: relative;
  left: 200px;
  display: flex;
  margin-right: 100px;
  padding: 7px;
  width: 550px;
  font-size: 20px;
  color: #cc2936;
}
.teammate {
  position: relative;
  margin: 10px;
  transform: translateX(300px);
  bottom: 30px;
  display: flexbox;
  float: left;
}
#about .heading {
  text-align: center;
}
#about .heading {
  color: #cc2936;
}
#about .content { padding-bottom: 0 }
#about .teammate .bio { 
  padding-top: 10px;
  color: #cc2936;
}
#about .teammate .profile-photo {
  overflow: hidden; 
} 
#about .teammate .profile-photo {
    overflow: hidden; 
    display: inline-block;
    width: 140px;
    height: 140px;
}    
#about .teammate .profile-photo img {
  -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
          transition: all .4s ease;
}
#about .teammate:hover .profile-photo img,
#about .teammate:focus .profile-photo img {
  -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
          transform: scale(1.1);
}
#about .teammate .bio .border {
  height: 1px;
  margin: 15px auto;
}
#about .teammate .bio ul {
  margin-bottom: 0;
  font-size: 16px;
}
#about .teammate .bio a { color: #666 }
#about .teammate .bio a:hover,
#about .teammate .bio a:focus { color: #222 }
#about .twitter {
  padding: 20px 0;
  background-color: #181818;
  border-top: solid 1px #e7e7e7;
}
#about .twitter p { margin-bottom: 0 }
#about .twitter i {
  margin-bottom: 10px;
  color: #00aced;
}
.space{
    padding:35px 0 !important;
}
/*Style for Contact Page*/
#contact {
  background: rgba(0, 0, 0, 0.8)url(../img/cover/contact-cover.jpg) ;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 170% cover;
  padding:155px 0 !important;
  background-blend-mode: darken;
}
#contact,
#contact a,
#contact a:hover,
#contact a:focus { color: #fff }
#contact .heading .border { background-color: #fff }
#contact a { display: block } 
#footer {
  padding: 40px 0;
  color: #ccc;
  text-align: center;
  background-color: #181818;
}
/*Style for Footer in all pages*/
#footer {
  position: sticky;
  top: 100%;
}
#footer a,
#footer a:hover,
#footer a:focus { color: #fff }
#footer .social { margin-bottom: 20px }
#footer .social li .facebook:hover,
#footer .social li .facebook:focus { color: #3b5998 }
#footer .social li .twitter:hover,
#footer .social li .twitter:focus { color: #00aced }
#footer .social li .instagramm:hover,
#footer .social li .instagramm:focus { color: #d34836 }
#footer .social li .dribbble:hover,
#footer .social li .dribbble:focus { color: #ea4c89 }
#footer .copyright { margin-bottom: 0 }
/*Style for Price page*/
#priceTable {
  background-image: url(../img/cover/prices.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.panel-default:hover .panel-heading{
    color: #e9ecf2;
    background-color: #cc2936;
    border-color: #9E9E9E;
}
.btn-default {
  transition: all 0.5s ease-in-out;
}
.btn-default:hover {
  background-color: #cc2936;
  color: #e9ecf2;
}
.panel-body >.panel-title {
  font-size: 4.1rem;
}
.list-group {
  font-size: 1.6rem;
}
.list-group-item, .panel-body {
  transition: all 0.5s ease-in-out;
}
.list-group-item:nth-of-type(1):hover {
  background-color: rgba(204, 41, 54, 0.3);
  cursor: default;
}
.list-group-item:nth-of-type(2):hover {
  background-color: rgba(204, 41, 54, 0.3);
  cursor: default;
}
.list-group-item:nth-of-type(3):hover {
  background-color: rgba(204, 41, 54, 0.3);
  cursor: default;
}
.panel-body:hover {
  background-color: rgba(204, 41, 54, 0.3);
  cursor: default;
}

#priceTable .heading {
  color: #cc2936;
}
.price {
    font-size: 4em;
}

.price-cents {
    vertical-align: super;
    font-size: 50%;
}

.price-month {
    font-size: 35%;
    font-style: italic;
}
.panel-heading {
  color: #141414;
}
.panel {
  color: #141414;
    transition-property: scale;
    -webkit-transition-property: scale;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.panel:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

/*Style for Message form*/
.form.contact {
	padding:45px 0 15px 0;
	margin:0;
	position:relative;
}

.form.contact .message {
	height:100px;
	width:100%;
	position:absolute;
	top:-100px;
	left:0;
	padding:0;
	background:#6ebff3;
	cursor:pointer;
}

.form.contact .message p {
	position:relative;
	font-family:"Roboto", Arial, sans-serif;
	font-size:22px;
	font-weight:100;
	color:#fff;
	line-height:100px;
	padding:0;
	margin:0;
}

.form.contact .message p .fa {
	padding:0 15px 0 0;
	position:relative;
	top:2px;
}

.form.contact .message .fa.arr {
	font-size:40px;
	line-height:0;
	z-index:1000;
	color:#6ebff3;
	position:absolute;
	top:95px;
	right:50%;
	margin:0 -12px 0 0 !important;
	padding:0;
}

.form.contact .message.warning {
	background:#f5b075;
}

.form.contact .message.warning .fa.arr {
	color:#f5b075;
}

.form.contact .input-group {
	width:100%;
	margin-bottom:30px;
	position:relative;
	display: inline-block;
}
.form.contact .input-group i {
	color:#cc2936;
	font-size:20px;
	position:absolute;
	line-height:66px;
	left:17px;
}
.form.contact .input-group input.lg,
.form.contact .input-group textarea.lg {
	padding:0 10px;
	text-indent:40px;
	margin:0;
	height:66px;
	width:100%;
	line-height:20px;
	font-size:18px;
	font-weight:100;
	font-family:"Roboto", Arial, sans-serif;
	color:#cc2936;
	border:1px solid #cc2936;
	outline:none;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.35);
}
.form.contact .input-group input.lg:hover {
  background: rgba(170, 168, 168, 0.95);
}
.form.contact .input-group textarea.lg:hover i {
  color: #cc2936;
}
.form.contact .input-group textarea.lg::placeholder {
  color: #d8dee8;
}
.input-group input.lg::placeholder {
  color: #d8dee8;
}
.form.contact .input-group textarea.lg {
	height:162px;
	text-indent:10px;
	padding-top:15px;
	resize:none;
}
.form.contact .input-group input,
.form.contact .input-group textarea {
  transition: all 0.3s ease-in-out;
}
.form.contact .input-group input:focus,
.form.contact .input-group textarea:focus {
  transform: scale(1.05);
}
.form.contact .input-group input:hover, 
.form.contact .input-group textarea:hover {
  transform: scale(1.05);
  margin-left: 5px;
}
.form.contact .input-group input.err,
.form.contact .input-group textarea.err {
	border-color:#f5b075 !important;
}

.form.contact .input-group button.submit {
	width:100%;
	height:66px;
	background:#cc2936;
	border:0;
	font-family:"Roboto", Arial, sans-serif;
	color:#d8dee8;
	font-size:18px;
	outline:none;
	font-weight:300;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.form.contact .input-group button.submit:hover {
	background:#b52531;
  transform: scale(1.05);
}

.form.contact #message_sent {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	z-index:100000;
	background:#6ebff3;
	width:100%;
	display:none;
}

.form.contact #message_sent i.fa {
	font-size:120px;
	position:relative;
	text-align:center;
	line-height:0;
	top:50%;
	margin:auto;
	vertical-align:middle;
	color:#fff;
	display:none;
}
.form.contact #message_sent p {
	font-size:45px;
	font-weight:100;
	font-family:"Roboto", Arial, sans-serif;
	color:#fff;	
	position:relative;
	text-align:center;
	line-height:0;
	top:54%;
	display:none;
}

.form.contact.style-2 {
	margin-top:0;
	padding-top:0;
}

.form.contact.style-2 .input-group input,
.form.contact.style-2 .input-group textarea {
	-webkit-box-shadow: 0 0 1px 0px rgba(230,230,230,1);
	-moz-box-shadow: 0 0 1px 0px rgba(230,230,230,1);
	box-shadow: 0 0 1px 0px rgba(230,230,230,1);
}

.form.contact.style-2 .input-group input:focus,
.form.contact.style-2 .input-group textarea:focus{
	-webkit-box-shadow: 0 0 4px 0px rgba(230,230,230,1);
	-moz-box-shadow: 0 0 4px 0px rgba(230,230,230,1);
	box-shadow: 0 0 4px 0px rgba(230,230,230,1);
}

.form.contact .input-group.tight {
	margin-right:2%;
	width:49%;
	float:left;
}

.form.contact .input-group.tight.second {
	margin-right:0;
}

.form.contact .input-group.tight input.lg {
	width:100%;
}
/* Responsive stylebbbbbbbbbbbbbbbbbb */
@media screen and (max-width: 1024px) { 
  #testimonials .carousel-control { display: block }
}
@media screen and (max-width: 991px) { 
  #portfolio .items li { width: 50% }
  #testimonials .quote { padding: 0 70px }
}
@media (max-width: 767px) { 
  .page .content.cover { padding: 160px 0 }
  #testimonials .quote { padding: 0 50px }
  #testimonials .carousel-control.right { right: 10px }
    .heroText {margin-top: 30%;    }
    .heroText h2{font-size: 60px; line-height: 60px;}
    .heroText h2 strong{font-size: 45px;}
    .navbar-nav>li>a {
    line-height: 35px;
    }
    .nav>li>a { 
padding: 2px 15px;
}
}
@media (max-width: 480px) { 
  .page .content.cover { padding: 80px 0 }
  #portfolio .items li { width: 100% }
  #testimonials .quote { padding: 0 30px }
    .heroText {margin-top: 60%;    }
    .heroText h2{font-size: 40px; line-height: 40px;}
    .heroText h2 strong{font-size: 25px;}
}
